.thought-card {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    min-width: 250px;
    min-height: 14rem;
    padding: 1rem;
    margin: 1.5rem auto auto;
    box-shadow: 1px 1px 3px black;
    word-wrap: break-word;
}

.content-container {
    padding: 0.25rem;
    width: 100%;
    margin: auto;
    flex-grow: 1;
}

.author-and-date-container {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;

}

.user-link {
    color: black;
    text-decoration: underline black;
    font-weight: bolder;
}

.user-link:visited {
    color: black;
    text-decoration: none;
}

.tags-container {
    position: relative;
    bottom: 0;
    word-break: break-word;
}

.actions-container {
    display: flex;
}

.actions-container > span {
    font-size: 1.5rem;
    flex: 1;
    height: 100%;
    align-self: center;
}

.thought-date {
    font-weight: bold;
}

.tag {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.tag:visited {
    color: black;
}