.logo-box {
    flex-grow: 0.85;

}


.search-field {
    height: 2rem;
    resize: none;
    line-height: 2rem;
    font-size: 1.25rem;
    letter-spacing: 0;
    outline: none;
    margin-right: auto;
}

.undecorated-link {
    text-decoration: none;
    color: inherit;
}

.undecorated-link:focus, .undecorated-link:hover, .undecorated-link:visited, .undecorated-link:link, .undecorated-link:active {
    text-decoration: none;
}